body {
  background-color: black;
}
h1 {
  text-align: center;
  color: green;
}

.inputBox {
   place-items: center;
  display: grid;
}
p {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: tan;
}